
#entertainment .slideshow-container{width: 70%;margin: auto;}

#semiNav{bottom: 80px;position: relative;}
.shownext{display: flex;justify-content: space-around;padding:0px 200px;}
.shownext li{list-style-type: none;padding: 4px 10px;
    background-color: green;cursor: pointer;transition: 0.4s;font-weight: 900;}
.shownext li:hover{background-color: rgb(2, 192, 2);}
#next1,#next2,#next3,#next4,#next5{display: none;animation: fade 3s ease-in-out;}


@media only screen and (max-width: 701px){
    #entertainment   .slideshow-container {
        width: 90%;
        margin:0 2%;
        }

}