  body {
      color: rgba(255, 255, 255, 0.918);
      font-family:Arial, Helvetica, sans-serif;
      transition:  0.5s;
      margin: 0;
      padding: 0;
      cursor: default;
      background-color:black;
      animation: fade 1s ease-in-out;
      font-weight: 600;
      }

.highlight{background-color: yellow;}

  body a{
      text-decoration: none;
      color: rgb(226, 223, 223);
      }

  html{
      scroll-behavior: smooth;
      zoom: 80%;
      }


  footer{
      width: 100%;  
      background-color: #111;
      padding: 30px 0px;
      
      }

  footer a{
      text-transform: capitalize;
      }

  footer .textrr {
      display: flex;
      flex-wrap: wrap; 
      justify-content: space-around;
      padding:10px 500px;
      font-size: 17px;
      }
      
  footer .icons {
      font-size: 17px;
      }

  footer .textrr a{
      margin: 0px 10px;
      }

  footer .textrr a:hover {
      color: #9e9d9d;
      }

  footer b{
      text-transform: capitalize;
      color: #9e9d9d;
      font-weight: 900;
      }

  header{
      margin-bottom: 10px;
      transition: 0.3s;
      height: 300px;

      }


/* SUNSCRIBTION FORM STYLE CASE*/
  .subscribe-form{
      margin: 30px 1%;
      }

  .subscribe-form input{
      width: 80%; 
      height: 30px;
      font-weight: 900;
      padding: 7px 3px;
      outline: none;
      }

  .subscribe-form button{
      background-color: darkgreen;
      outline: 0px;
      border: 0px;
      cursor: pointer;
      margin-top: 10px;
      color: whitesmoke;
      padding: 10px 30px;
      font-weight: 900;
      }

  .subscribe-form span{
      font-size: 17px;
      font-weight: 700;
     }


  /* SEMI-HEAD STYLE CASE - little nav bar at the top of the main navigation bar */
  .semi-head{
      width: 100%;
      height: 27px;
      background-color: rgb(17, 17, 17);
      padding: 20px 0px;
      z-index: 10;
      display: flex;
      justify-content: space-between;
      top: 0px;
      transition: 3s;
      animation: fade 2s ease-in-out;
      }
    
  .semi-head a{
      text-decoration: none;
      word-spacing: -1px;;
      padding: 10px;
      font-weight: 200;
      text-transform: capitalize;
      font-size: 17px;
      }

  .semi-head a:hover{
      color: #9b9b9b;
      }
  
  .semi-head img{
      width: 300px;
      height: 58px;
      position: relative;
      bottom: 20px;
      }
  
  .semi-head .icons {
      display: flex;
      font-size: 17px;
      justify-content: space-around;
      margin-right: 10px;
      }
  
      /*  ICONS STYLE SHEET - FACEBOOK, TWITTER, EMAIL, INSTA  */
  .icons a{
      margin:0 10px;
      padding: 0;
      font-weight: 200;
      }

  .icons a:hover{
      color: gray;
      }

   /* DROP DOWN FOR QUICK NAVIGATION TO SECTIONS */
  .dropbtn {
      font-weight: 900;
      padding: 16px;
      font-size: 17px;
      border: none;
      cursor: pointer;
      color: white;
      }

  #dropDown{
      display: none;
      }

  .category{
      font-weight: 900;
      font: 17px;
      }
      
  .closedrop {
      font-weight: 900;
      color:rgb(1, 102, 1);
      font-size: 37px;
      z-index: 20;
      position: relative;
      left: 180px;
      cursor: pointer;
      position: sticky;
      top: 8px;
      font-weight: bolder
      }

  .dropdown {
      display: none;
      padding: 17px 0px;
      position: fixed;
      display: inline-block;
      left: 40px;
      }

  .dropdown strong{
      text-transform: uppercase;
      color: black;
      padding: 10px 2px;
      }


  .dropdown-content {
      overflow: scroll;
      height: 500px;
      display: none;
      position: relative;
      background-color: #f9f9f9;
      min-width: 170px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      top: 20px;
      animation: increase 1s  ease-in-out;
      z-index: 10;;
      }

  .dropdown-content a {
      font-weight: 700;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-transform: capitalize;
      }

  .dropdown a:hover {
      background-color: #c2c2c2;
      color:rgb(1, 102, 1)
      }

 /*  SCROLL TOGGLE STYLE CASE  */
 
  .sticky{
      padding: 5px 20px;
      background:rgba(0, 0, 0, 0.705);
      }


 /* logo that appears on scroll */
  .sticky .logo1 img{
      position: fixed;
      z-index: 10000;
      right: 0px;
      width: 200px;
      height: 70px;
      top: 0px;
      }

  /* drop down menue on full screen which shows quick section navigation */
  
  .sticky .nav1 .dropdown a{
      color: black;
      }

    
  /* active buton on scroll */
  .sticky .present{
      text-decoration: underline;
      text-decoration-thickness: 2px;
      background:none;
      }

  /* navigation bar on scroll */
  .sticky .nav1{
      background-color:black;
      position: fixed;
      border-bottom: 1px solid gray;
      top: 0px;
      left: 0; width: 100%;
      z-index: 100;
      height: 70px;
      justify-content: center;
      }
    
  .sticky .nav1 a{
      color: white;
      top: 10px;
      font-size: 18px;
      }
    
/* body id */

#bdy{animation: fade 1s ease-in-out linear;padding: 30px 0px;}
/* NAVIGATION MENUE */
    .nav1 {
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        padding: 8px 8px 8px 32px;
        transition: 0.5s;z-index: 1;
        justify-content: center;
        }

    .nav1 a {position: relative;
          word-spacing: -2px;
          bottom: 20px;
          padding: 9px;
          text-decoration: none;
          font-size: 17px;
          color: whitesmoke;
          display: block;
          transition: 0.3s;
          font-weight: 700;
      }
    .nav1 a:hover{color: #bbb;text-decoration: none;}
          

/* ASID WHICH ALLOWS SCROLL ON LONGER CONTENT TO AVOID OVERLAP AND HEIGHT OVERROW */
    .scroll{
        height: 4400px;
        overflow: auto;
        padding: 20px;
        border-left: 1px rgba(68, 67, 67, 0.767) solid;
          }

  /* ALL KEYFRAME AND ANIMATIONS */

  /* for the increase of scales for content */
      @keyframes increase {
            0%{scale: 0;}
            50%{scale: 1;}
            }
            
  /* animation  */
      @keyframes breath {
            0%{ width:90% ;margin: 0px 5%}
            50%{width:80% ;margin: 0px 10%}
            }


      @keyframes slidein {
            0%{top: 400px;opacity: 0;}
            20%{top: 300px;opacity: 0.2;}
            40%{top: 100px;opacity: 1;scale: 2;transform: rotateZ(30deg);}
            0%{top: 400px;opacity: 0;}
            } 

      @keyframes glow {
            0%{ background-color: rgba(54, 54, 54, 0.329)}
            50%{background-color: black;}
            }

      @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
            }

      @-webkit-keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
            }
      
/* FADE IN EFFECT WHEN JAVA DISPLAY FUNCTION IS EXECUTED */
    
        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }
        


/* CONTAINER FOR LATEST POSTS - the animation (slide is not active but can be modified */
          .slide{
            display: none;
            z-index: 0
            }

          #mySlides{
              display: block;
              z-index: 0;
              }

      /* Slideshow container */
          .slideshow-container {
              margin:0 4%;
              position: relative;
              z-index: 0;
              border-bottom: #424242 1px solid;
              }
          .slideshow-container a{
              color: whitesmoke;
              }

          .slideshow-container a {
              text-decoration: none;
              }

          .slideshow-container img{
              z-index: 0;
              width: 100px;
              overflow: hidden;
              height: 300px;
              }

          #slideshow{
              display: none;
              z-index: 0;
            }

/* BRIEF EXPOSITORY TEXT AT EVERY CAPTION */
          .slidebrief-text{
              font-size: 27px; 
              color: whitesmoke;
              font-weight: 700;
              display: block;
              width: 400px;
              padding: 10px;
              }
      


/* caption on the tip of every picture for excerps */
        .numbertext {
              background-color: rgba(1, 102, 1, 0.829);
              color: white;
              font-size: 17px;
              padding: 8px 12px;
              position: absolute;
              top: 10;
              font-weight: 900;
            }

        

      /* GO-UP TOGGLE FOR QUICK NAVIGATION TO UP */
        
          .goup{
              background-color: black;
              color: rgb(116, 192, 3);
              cursor: pointer;
              position: fixed;
              z-index: 100;bottom: 40%;
              padding: 9px;;
              border-radius: 100px;
              animation: fade 2s ease-in-out;
              right: 20px;
              box-shadow: 0px 0px 7px 0px gray;
              }
              
        
         #up{
              transform: rotateZ(-90deg);
              font-size: 30px;
              padding: 4px;
              display: none
              }
        #up a{
              border:2px dotted rgb(141, 141, 141);
              }
        
/* ADVERT CONTAINER WITH SLID-IN TEXT */
        .advert-container{
              margin:30px 0px;
              padding: 40px 0px;
              border-bottom:  1px rgba(105, 105, 105, 0.623) solid;
              align-content: center;
              align-items: center;
              justify-content: center;
              }

        .advert-content{
              height: 300px;
              width: 80%;
              background-image: url(landingp1.jpeg);
              background-size: cover;
              background-repeat: no-repeat;
              overflow: hidden;
              }

        .advert-content b{
              color: green;
              font-weight: 900;
              font-family: algerian;
              position: relative;
              animation-delay: 9s;
              font-size: 40px;
              transition:  ease-in;
              animation: slidein infinite 9s ease-in-out;
              top: 100px;
              opacity: 0;
              animation-delay: calc(.1s * var(--i));
              }


        .advert-text{
              font-size: 11px;
              text-transform: uppercase;
              color: grey;
              font-weight: 100;
              letter-spacing: 3px;
              font-family: Arial, Helvetica, sans-serif;
              }

/* icon-text3 image in housemate which makes the images rounded */
        #housemate .icon-text3 img{
              width: 20%;
              border-radius: 100%;
              height: 80px;}
              
              
        .height{height: 3200px;}

/* NAVIGATION BAR ON SMALL SCREEN AT THE SIDE OF THE SCREEN */


        .sidenav {
            height: 90%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;  
            }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 22px;
            color: #d1cece;
            display: block;
            transition: 0.3s
            }

        .sidenav a:hover, .offcanvas a:focus{
            color: #818181;
          }

/* open navigation bar when clicked */
        #openNav{
            font-size:34px;
            cursor:pointer;
            color: rgb(214, 208, 208);
            font-weight: 900;
            padding: 0px 9px ;
            }

/* close navigation bar when clicked */

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 0px;
            font-size: 36px;
            margin-left: 50px;
            }

        .smallscreen-navbar{
            display: flex;
            justify-content: space-between;
            }
            

/* display is null on full screen for the side navigation and the toggle icon */
        .sidenav{
            display: none;
            }
            
        #openNav{
            display: none;
            }

/* FOR TAGTEXTS AND CAPTIONS- FONT SIZES AND WEIGHT */
      .headtxt{
            font-size: 40px;
            font-weight: 900;
            }

/* SHARE  ICONS TO SOCIAL MEDIA PLATEFORMS- with hover effect for the backgroung */
      .share-icon{
            background-color: rgb(236, 234, 234);
            display: flex;
            justify-content: space-around;
            position: relative;
            bottom: 10px;
            }

      .share-icon  i{
            transition: 0.3s; 
            color: black;
            font-size: 20px;
            padding: 7px 40px;
            border-left: 1px solid rgb(53, 52, 52);
            margin: 0px 10px;
            font-weight: 900;
            }

      .share-icon i:hover{
            background-color: #9b9b9b;
            }

 /* COMENT AND REACTIONS - with a top text (sup) which allows for counts of reactions  */
            
      .actions sup{
            font-weight: 900;
            }

      .actions{
            display: flex;
            }

      .actions .i{
            padding: 0px 10px;
            }

/* any present page shows active background to indicate the page present */
      .present{
            background-color: #626162;
            border-radius: 10px;
            }
/* show fade in animation when next is pressed */
      #next0{
            animation: fade 0.7s;}


/* RANDOM STYLE FOR SOME EFFECTS - COULD BE FOUND IN NUMBER OF CONTAINER ON THE PAGE */


      .sport{
            margin-bottom: 30px;
            }

      .imgcover2 img{
            width: 70%;
            display: none;
            margin: auto;
            margin-top: 20px;
            }

      #main {
          transition: margin-left .5s;
          padding: 16px;
          }

   
      .block{
            display: block;margin: 20px;
            }
      .imgcover img{
            width: 700px;
            margin: auto;
            }

      .show {
            display:block;
            }



      .img1{
            display: flex;
            }

/* CONTENT IN THE CONTAINER WHICH HAS BLOCK- IN MARGIN  */

      #allthe-read2 .block{
            margin: 0px 30px;
            }

/* TOPIC/HEADING FOR SECTIONS OF POSTS  */
      .heading{
            position: relative;
            bottom: 30px;
            transition: 0.9s;
            font-family:  'Arial Narrow Bold', sans-serif;
            letter-spacing: 2px;
            }
/* container for the topic which determine the margin, font sizes */
      .header{
            transition: 0.7s; 
            margin: 20px 1%;
            position: relative;
            top: 10px;
            font-size: 20px;
            font-weight: 900px;
            z-index: 0px;
            text-transform: capitalize;
            word-spacing: -1px;
            }


            
/* the icons on the topic/heading of sections */
      .header i{
            color: green;
            }

/* ENTERTAINMENT SPECIAL STYLE - for the stated classes specifically in entertainment page */
      #entertainment #allother-read1{
            width: 100%;
            }
    
      #entertainment .icon-text2 .numbertext {
            font-size: 17px;
            padding: 8px 7px;
            top: 10;
            margin-left: 18px;
            }
            
/* LINES UNDER SECTON TOPIC OR HEADINGS */

/* line inside a heading class */
      .heading .line{
            width: 100%; 
            margin: 10px 1% ;
            height: 2px;
            background-color: rgb(44, 44, 44);
            }

/* lines on its own */
      .line{
            width: 100%; 
            margin: 10px 1% ;
            height: 1px;
            background-color: rgb(44, 44, 44);
            }

/* line with smaller width */
      .line2{
            width: 30%;
            background-color: rgba(77, 76, 76, 0.623);
            height: 1px;
            }

/* DETAILS OF CAPTIONS - A LITTLE READ-MORE EXPOSITORY */
      .news-detail{
            width: 100%;
            margin: 0px;
            margin-bottom: 10px;
            }

      .news-detail b{
            font-size: 30px;
            background-color: none;
            }
            
/* LOGO STYLE CASE - logo class is the logo container */
            
      .logo1 img{
            width: 300px;
            height: 120px;
            }

      .logo1{
            padding: 8px 8px 8px 12px;
            }
 
/* logo on small screen */
      .logo2 img{
            display: none; 
            width: 200px;
            height: 70px;
            margin-bottom: 10px;
            }

      .logo2 {
            position: relative;
            padding: 8px 8px 8px 2px;
            right: 30px;
            }
            
/* STYLE FOR THE NAME OF WRITER */
      .writer-name{
            text-transform: capitalize;
            font-weight: 700;
            color: green;
            }
                    
/* text with lighter color mostly after writer names */
      .span{
            font-size: 14px;
            font-weight: lighter;
            width: 90%;
            color: rgb(161, 161, 161);
            font-family: Arial, Helvetica, sans-serif;
            text-transform: capitalize;
            }

/* ICON-TEXT4 STYLE CASE- TEXTS WITH CIRCLED NUMBER ON FLEX  */
      .icon-text4{
            display: flex;
            margin: 20px 0px;
            }
      
      .icon-text4 .icon4text{
            width: 300px;
            font-weight: 900;
            }
            
      .icon-text4 a{
            padding: 0px;
            margin: 0px;
            font-weight: 400;
            }

/* circled first counting number on flex with icon-text4 */
      .icon-text4 .number{
            justify-content: center;
            align-items: center; 
            font-size: 40px;
            font-family: Bernard MT Condensed;
            background-color: #424242;
            width: 50px;height: 50px;
            border-radius: 100%;
            margin:20px;
            font-style: italic;
            font-weight: 900
            }
            
/* rest of the numbers in circle */
      .icon-text4 .numbers{
            justify-content: center;
            align-items: center; 
            font-size: 27px;
            font-family: Bernard MT Condensed;
            background-color: #424242;
            width: 70px;
            height: 30px;
            border-radius: 100%;
            margin:10px;
            font-style: italic;
            }
              

/* CLASS ICON-TEXT3 - IMAGE CONTAINER IN FLEX DISPLAY BUT HAS SMALLER IMAGES */
      .icon-text3 p{
            font-size: 13px;
            text-transform: capitalize;
            }

      .icon-text3 a{
            text-transform: capitalize;
            font-weight: 900;
            font-size: 17px;
            margin-left: 10px;
            }

      .icon-text3 p{
            text-transform: uppercase;
            font-weight: lighter;
            color: #818181;
            }

      .icon-text3 img{
            width: 30%;
            height: 100px;
            }
            
/* TEXT AND IMAGES ON BLOCK WITH NO FLEXED TEXT AND IMAGE */
      .icon-text1{
            margin: 0px;
            padding: 0px;
            width: 500px;
            }
            
      
      .icon-text1 a{
            padding: 0px;
            margin: 0px;
            font-weight: 900;
            font-size: 20px;
            }
                       
/* CONTAINER WHICH BEARS THE WHOLE BLOG POST- DETERMINES THE MARGIN OF ITS CONTENT AND BOTTOM-LINES */
      .other-read{
            margin: 0px 1%;
            padding: 0%;
            border-bottom: solid 1px rgba(77, 76, 76, 0.623);
            }

      .other-read a {
            text-decoration: none;;
            margin-left: 20px; 
            text-decoration: none;
            font-weight: bold;}
             
/* display flex for selected icon-text classes with different image sizes  */
      .icon-text, .icon-text2,.icon-text3{
            display: flex;
            margin: 40px 0px ;
            }
/* ICON-TEXT FLEXED IMAGE AND TEXTS WITH 40% IMAGE WIDTH-ditermines the width of the container, text style and image style*/
      .icon-text2{
            width: 100%;
            }
            
      .icon-text2 p{
            text-transform: uppercase;
            font-weight: lighter;
            color: #818181;
            }


      .icon-text2 img{
            width: 40%;
            height: 140px;
            }

      .icon-text2 a{
            font-size: 24px;
            text-transform: capitalize;
            font-weight: 700;
            text-align: start;
            }

      .icon-text2 p{
            color: grey;
            text-transform: capitalize;
            font-size: 14px;
            }
/* ICON-TEXT STYLE ON FLEX FOR SPECIFIC LINK STYLE */
      .icon-text a{
            text-transform: capitalize;
            font-weight: 700;
            font-size: 17px;
            margin-left: 4px;
            }
            
      .icon-text b{
            font-weight: 900;
            color: green;
            }


  /* READMORE BUTTON FOR VIEWING MORE MESSAGES / LOAD MORE FOR LOADING EXTRA POSTS */
      .read-more{
            background-color: rgb(59, 59, 59);
            padding:10px 17px;
            font-size: 12px;
            margin: 4px 0%;
            border: none;
            font-weight: 100;
            cursor: pointer;
            color: whitesmoke;
            }

      .load-more{
            border: 1px solid rgb(65, 64, 64);
            padding:7px 50px;
            font-size: 12px;
            font-weight: 100;
            cursor: pointer;
            color: whitesmoke;
            background-color: transparent;
            position: relative;
            bottom: 7px;
            }
            
/* LINES ON FLEX WITH SOME BUTTONS - SIDE BY SIDE LINES */
      .line-button{
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin: 0px 10px;
            }

            
/* CONTAINER FOR  BLOg CONTENT WHICH IS ON BLOCK*/

/* wider container than the later */
      #allother-read1{
            display: block;
            width: 100%;
            padding: 20px;
            margin: 0px 1%;
            }

/* not-wide  container than the later with which has scroll*/

      #allother-read2{
            display: block;
            margin: 20px 1%;
            color: whitesmoke;
            padding: 10px;
            width: 70%
            }
      
/* CONTAINER FOR THE TWO BLOG CONTAINER WHICH ARE ON FLEX- ONE WIDER THE OTHER NOT TOO WIDE */


/* for bigger content in blog, with auto margin */
    #allthe-reads{ 
            display: flex;
            width: 90%;
            margin: auto;
            justify-content: center;
            align-items: center ;
            }

/* for smaller content in blog, with no margin */



    #allthe-read2{ 
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%
            }
 /* SEARCH ENGINE STYLE CASE */



 
              
    .search-cont{
            width: 30%;
            overflow: hidden;
            height: 30px;
                }
    .search-cont input {
            height: 30px;
            width: 30%;
            transition: 0.7s;
            background-color: rgb(0, 0, 0);
            outline: none;
            border: 1px solid gray;
            font-size: 17px;
            color: #f9f9f9;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 0px 10px 10px 0px;
            font-weight: 600;
            padding: 0px 10px;
            overflow: auto;}

    .search-cont input:focus{width: 80%;outline: none;}

    .search-cont i{
            background-color: darkgreen;
            padding: 7px 10px;
            font-weight: 900;
            position: relative;
            left: 4px;
            cursor: pointer;
            border: 1px solid black;
            }
            .search-cont2{
              display: none;
            }




/* TOGGLE BETWEEN NIGHT AND LIGHT FOR WINDOW */
            .switch {
              position: relative;
              display: inline-block;
              width: 57px;
              height: 30px;
            }
            .switch input {display:none;}
            .switcher {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: .4s;
              transition: .4s;
            }
            
            .switcher:before {
              position: absolute;
              content: "";
              height: 24px;
              width: 26px;
              left: 3px;
              bottom: 3px;
              background-color: rgb(0, 0, 0);
              -webkit-transition: .4s;
              transition: .4s;
            }
            
            input:checked + .switcher {
              background-color: #036bc0;
            }
            
            input:focus + .switcher {
              box-shadow: 0 0 1px #2196F3;
            }
            
            input:checked + .switcher:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px);
              background-color: rgb(194, 186, 186);

            }
            
            /* Rounded sliders */
            .switcher.round {
              border-radius: 34px;
            }
            
            .switcher.round:before {
              border-radius: 50%;
            }
                        

      /* BANNER FOR IMAGES AND TEXT - INVALID */
      /* 
      .allbanner{height: 70vh;}
      .allbanner marquee{background-color: rgba(31, 30, 30, 0.801);color: whitesmoke;font-weight: 900;padding: 3px;}

      .allbanner .line{width: 90%;margin: 0%;}

      .banner-container{transition: 0.7s;width: 100%;padding-top: 10px;overflow: hidden;
          height: 50vh;z-index: 10;margin-top: 20px;}
        
      .bannertext-title{background-color: rgba(1, 112, 97, 0.685);color: whitesmoke;padding: 10px;font-size: 20px;}

      .banner{width: 90%;
          height: 50vh;margin: 0px 5%;
          cursor: pointer;transition: 0.7s;z-index: 0;
          animation: breath 3s infinite linear;}


          .banner:hover{width:80% ;margin: 0px 10%;animation: none;}

          .banner:hover 
          .bannertext{position: relative;bottom: 300px;;} 


      .bannertext{position: relative;bottom: 290px;
          ;width: 400px;margin: 4%;
          background-color: #8181814d;transition: 0.7s
      ;} 
      .bannertext .tems{color: rgb(235, 235, 235);font-size: 17px;}
      
      .banner img{width: 34%;
        height: 70vh;z-index: 10px;}

       .viral a{width: 40%;font-size: 20px;}
      .viral img{height: 140px;}
            
      .tflex .line{
            width: 90%;
            margin: 0px 2%;
            }
      #viral #allthe-read2{width: 80%;margin: auto;}
           
      #allother-read2 a{font-size: 14px;line-break: }
              
      .threeflex .line{
            height: 3px;
            }
      .tflex .heading{margin: 0px 2%;}
      .tflex  .header{background-color: black;padding: 0px 4px;}

      .threeflex{display: flex; width: 90%;margin: auto;justify-content: space-around;align-items: center ;margin: auto;}
      .threeflex .icon-text a{text-transform: capitalize;font-weight: 700;font-size: 14px}
      .threeflex .icon-text3{margin: 0px 20px;}
      .threeflex .margflex{margin: 0px 20px;}    
      .threeflex a{color: whitesmoke;}
      .threeflex .span{font-size: 14px;text-transform: capitalize;}
      .threeflex .span{width: 10%;}




    .textw{font-size: 30px;font-weight: 800;width: 90%;padding: 0px;margin: 0px;}
    .textw a{padding: 0px;margin: 0px;}      

 */   
 
 

 /* PREV AND NEXT FOR SLIDING */
    /* 
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top:40%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(251, 251, 253);
    font-weight: bolder;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(54, 54, 54, 0.329);
    }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);color: white;
    }


  .next {animation: glow 2s ease-in-out infinite;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

 */
  /* The dots/bullets/indicators */
  /* 
  .dot {
    cursor:pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  
  .active, .dot:hover {
    background-color: #424242;
  }
 */




  


@media only screen and (max-width: 375px) {

        .sidenav {
              padding-top: 15px;
              }

        .sidenav a {
              font-size: 18px;
              }

        .sticky  #openNav{
              color: black;
              padding: 0px 0px ;
              }

        footer .textrr {
              font-size: 12px;
              padding:0px;
              flex-wrap: wrap;
              }
        footer .textrr a{
              margin: 7px
              ;padding: 0px;
              }

        footer{
              padding:10px 0px;
              }

      }




@media screen and (max-width: 412px) {

       footer .textrr {
              font-size: 12px;
              padding:0px;
              }

      footer .textrr a{
              margin: 10px 0px ;
              padding: 0px;
              }

      .slideshow-container {
              width: 90%;
              margin:0 2%;
              }
      
    
}



@media only screen and (max-width: 301px) {

  
      .sidenav {
            padding-top: 13px;
            }

      .sidenav a {
            font-size: 17px;
            }

      .sticky  #openNav{
            color: black;
            padding: 0px 0px ;
            }

      .news-detail{
            font-size: 10px;
            }

      .slidebrief-text{
            font-size: 12px;
            }

}



@media only screen and (max-width: 701px)  {
          html{zoom: 80%;}
        .scroll{height: auto;overflow: visible;padding: 20px;border-left: none;}
        .height{height: auto;}
        .icon-text{width: 70%;}


        .switch {
          right: 40px;
        }

        #housemate .icon-text3 img{width: 10%;border-radius: 100%;height: 80px;}

        .icon-text4{width: 700px;}

          header
        {height: 200px;margin-bottom: 10px;}
        .line{width: 90%; margin: 0px 5% ;background-color: rgba(37, 37, 37, 0.726);height: 3px;}
        .header{margin: 30px 1%;}

        .dot{width: 9px;height: 9px;}
            
            .prev, .next{font-size: 17px;top: 40%;}
        .sticky .smallscreen-navbar{position: fixed;background-color: rgba(245, 245, 245, 0.815);
            top: 0px;left: 0; width: 100%;padding: 0px 30px;color: #111;height: 70px;z-index: 10000;}
            
            .sticky  #openNav{color: black;padding: 0px 4px ;}

        .icon-text1{margin: 0px;padding: 0px;width: 300px;}
          .line{margin: 0px;}
            .sticky .smallscreen-navbar img{height: 40px;width: 140px;margin-right: 10px;}
          
            #entertainment #allother-read1{width: 90%;}


            .advert-container{margin:0px 0px;padding: 20px}
            .advert-content{height: 220px;width: 90%;}
            .advert-content b{font-size: 30px;}

            @keyframes slidein {
              0%{top: 400px;opacity: 0;}
              20%{top: 300px;opacity: 0.2;}
              40%{top: 80px;opacity: 1;scale: 2;transform: rotateZ(30deg);}
              0%{top: 400px;opacity: 0;}
            }
        
            
        .block{display: block;margin: 0px;}
            
            .sidenav{display: block;font-size: 17px;}
            .sidenav a{font-size: 17px;font-weight: 700;}

            #openNav{display: block;}
            .nav1{display: none;}
        .logo1 img{display: none;}
        .logo2 img{display: block;}

            .news-detail b{font-size: 23px;font-weight: 900;}    
        .threeflex{display: block;width: 90%;margin:auto;;}
        .threeflex .span{font-size: 12px;}
        .threeflex .icon-text3{margin: 0px 0px;}
        .threeflex .margflex{margin: 0px 0px;}    
        .tflex {width: 90%;margin: 0px 2%;}
        #active{color: #9e9d9e;}

        .share-icon{display: flex;
          justify-content: space-around;}
        .share-icon  i{color: black;font-size: 17px;padding: 4px 20px;}

            .slidebrief-text{font-size: 17px;width: 200px;}
            


              #up{font-size: 20px;}
              .slideshow-container {width: 90%;margin:0 2%;}
              .slideshow-container img{z-index: 0;width: 700px;overflow: hidden;}


        .icon-text2{width: 100%;height: 200px;margin: 0px;}
        .icon-text2 img{width: 40%;height: 140px;}
        .icon-text2 a{margin-top: 0px;font-size: 14px;font-weight: 400px;}

        .icon-text3 img{width: 40%;height: 120px;}
        .icon-text3{width: 100%;padding: 0px;}
        .icon-text2 a{margin: 10px;font-size: 14px;font-weight: 400px;width: 100%;}

        #allother-read2{display: block;width: 80%;margin: 0px}

        #allother-read1{display: block;width: 90%;margin: 0px;}

        .imgcover img{display: none;}
        .imgcover2 img{display: block;}
        .imgcover{height: 80px;}

        .bannertext{width: 200px;font-size: 10px;margin: 0px;} 
        .bannertext b{font-size: 10px;}
        .bannertext .tems{color: rgb(235, 235, 235);font-size: 14px;font-weight: 800;}

        footer .textrr {display: block;font-size: 14px;align-content: center;align-items: center;padding: 900px;}
        footer .textrr a{margin: 10px;padding: 0px;}

        footer{align-content: center;align-items: center;}

            

        .semi-head a{padding: 7px;font-size: 2px;;text-transform: capitalize;padding: 2px;}
        .semi-head img{display: none;}
        .semi-headtex{margin-right: 10px;}


        /* Small screen dropdown */
        .dropbtnsmall {
          color: rgb(184, 184, 184);
          padding: 10px 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
          margin: 20px 17px;
          
        }

        .dropsmall {
          position: relative;
          display: inline-block;
        }

        .dropdown-content-small {
          display: none;
          min-width: 100px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          margin-left: 17px;
          
        }

        .dropdown-content-small a {
          color: rgb(165, 164, 164);
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropdown-content-small a:hover {background-color: #8f8d8d;color: #111;}





        .dropbtnsmall {
          font-weight: 700;
          font-size: 12;
          background-color: #424242;
        }

        .category{font-weight: 700;}
        #allthe-reads{display: block;margin: 0px;zoom: inherit;}
        #allthe-read2{ display: block;}
        .semi-head .icons {display: none;}
        .sidenav .icons{display: flex;top: 0px;left: 30px;position: relative;}
        .textw{font-size: 20px;font-weight: 800;}
        .span{font-size: 14px;margin-bottom: 10px;}

        #entertainment .icon-text2 .numbertext {
          font-size: 17px;
          padding: 8px 7px;
          top: 10;
          margin-left: 12px;
         }

        .viral a{width: 40%;font-size: 17px;}
        .viral img{height: 140px;}


        .search-cont2{
          background-color: #111;
          width: 90%;
          display: flex;
          
          padding: 30px;
          margin: 20px 0px;
             }

   .search-cont2 input {
           height: 29.9px;
           width: 30%;
           transition: 0.7s;
           background-color: rgb(0, 0, 0);
           outline: none;
           border: 1px solid gray;
           font-size: 17px;
           color: #f9f9f9;
           font-family: Arial, Helvetica, sans-serif;
           border-radius: 0px 10px 10px 0px;
           font-weight: 600;
           padding: 0px 10px;
           overflow: auto;}

   .search-cont2 input:focus{width: 80%;outline: none;}

   .search-cont2 i{
           background-color: darkgreen;
           padding: 7px 10px;
           font-weight: 900;
           position: relative;
           left: 4px;
           cursor: pointer;
           }

     
  .search-cont2 {
    display: block;
}
.search-cont{display: none;}




            .icon-text, .icon-text1, .icon-text2, .icon-text3, .icon-text4{margin: 30px 0px;}



}


@media only screen and (max-width: 1000px)
{
  footer .textrr {display: block;font-size: 14px;align-content: center;align-items: center;}
footer .textrr a{margin: 7px;padding: 10px;}
html{zoom: 70%;}
.tflex {width: 90%;}
.share-icon i{padding: 10px 20px;font-size: 17px;}

.icon-text2 img{height: 170px;}


.threeflex{width: 90%;}
.threeflex .textw{font-size: 20px;}
#entertainment #allother-read1{width: 90%;}
#entertainment #semiNav{position: static;}

#allthe-reads{ zoom: 80%;}

#allthe-read2{margin: 0px;}

.sticky .nav1{height: 60px;justify-content:center;}
.sticky .nav1 a{
  font-size: 15px;font-weight: bolder;margin-left: 20px;
  font-weight: bolder;padding: 0px 0px 0px;top: 20px;}

.sticky .logo1 img{width: 170px;top: 0px;height: 50px;}

  .dropbtn {
    font-weight: 900;
    font-size: 14px;
  }
  .icon-text2 .icon2head{font-size: 20px;}
  #myDropdown a{
    font-weight: 900;
    font-size: 14px;
    margin: 10px 10px;
    padding: 4px;
  }
   
  #myDropdown strong{
    font-size: 14px;font-weight: 900;
  }
    
  .dropdown-content{top: -0px;}

  .dropdown {
    top: 3px;
    left: 20px;
  }
    .nav1 a {
        text-decoration: none;
        font-size: 16px;font-weight: bolder;
        font-weight: bolder;padding: 0px 7px;
    }
    .nav1 {padding:0px 0px 0px 10px; transition: 0.5s;z-index: 1;justify-content: center;}
    
    #allother-read2{margin: auto;width: 100%;}
.moveup{position: static;margin-top: 20px;}

.bannertext{width: 300px;} 
.bannertext .text1{color: rgb(235, 235, 235);font-size: 20px;}
.semi-head a{padding: 10px;font-size: 14px;}
.semi-head img{width: 100px;;}
.semi-head .icons {font-size: 17px;margin-right: 10px;}

.icons a{margin:0 8px;padding: 0;font-weight: 200;}

    
}

@media only screen and (max-width: 1100px) {
  #entertainment #semiNav{top: 40px;}
 html{zoom: 80%;}
 
  footer .textrr {display: flex;font-size: 14px;padding:0 200px;}
  footer .textrr a{padding: 0px;margin: 7px;}
  

}

@media only screen and (max-width: 1340px) {
  #entertainment #semiNav{bottom: 100px;}
  
 html{zoom: 75%;}
}

@media only screen and (max-width: 1040px) {
  
 html{zoom: 75%;}
}